p {
  font-size: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 20%;
}

.centered-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  display: none;
}

.button.active {
  display: block;
}

.tabs {
  width: 100%;
  height: calc(90vh - 3 - 2%);
  margin-top: calc(10vh + 3 + 2%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tab-item {
  width: 50%;
  height: calc(10vh - 3);
  border-bottom: 3px solid #5ab4bd;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}

.tab-item:hover {
  opacity: 0.75;
}

.tab-item input[type="radio"] {
  display: none;
}

.tab-content {
  display: none;
  padding: 40px 40px 0;
  clear: both;
  overflow: hidden;
}

.tab-item:has(#problem:checked) ~ #problem-content {
  display: block;
}
.tab-item:has(#settings:checked) ~ #settings-content {
  display: block;
}

.tab-item:has(input:checked) {
  background-color: #5ab4bd;
  color: #fff;
}
